*{
    margin: 0;
    padding: 0;
}
h2{
    
    margin: 10px;
}

.to-do{
    margin-left: 20%;
}
input{
    margin-left: 20px;
}
ul li{
    list-style: none;
}
#div{
    width:300px;
    height: fit-content;
         display: flex;
    justify-content: space-between;
    margin: 10px;
   
}
